@charset "UTF-8";

@import 'sundlof';

.gallery {
    margin-top: 42px;
    section {
        width: 100%;
    }
    figure {
        width: 100%;
        margin-bottom: 10px;
        a {
            width: 100%;
            img {
                width: 100%;
            }
        }
        figcaption {
            display: none;
        }
    }
    section:last-child {
        float: right;
    }
    .headline {
        color: #00687B;
        font-weight: bolder;
        text-align: center;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
    }
}
