@font-face {
  font-family: Sundlof;
  src: url("../fonts/sundtyp3.woff2") format("woff2"), url("../fonts/sundtype3.woff") format("woff"), url("../fonts/sundtype3.ttf") format("truetype"); }

body {
  padding-top: 50px;
  padding-bottom: 20px; }

.sundlof-background {
  background-color: #006679; }

.sundlof-foreground {
  background-color: #E1E1E1; }

.sundlof-font {
  font-family: Sundlof; }

.sundlof-font-background {
  font-family: Sundlof;
  color: #006679; }

.sundlof-font-foreground {
  font-family: Sundlof;
  color: #E1E1E1; }

.sundlof-logo, .sundlof-logo-inverse {
  font-family: Sundlof;
  background-color: #006679;
  position: relative;
  width: 180px;
  height: 180px;
  padding-top: 25px; }
  .sundlof-logo .icon, .sundlof-logo-inverse .icon {
    width: 100px;
    height: 100px;
    font-size: 52pt;
    color: #006679;
    background-color: #E1E1E1;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
    text-align: center; }
  .sundlof-logo .caption, .sundlof-logo-inverse .caption {
    width: 100%;
    padding-top: 7px;
    font-size: 23pt;
    color: #E1E1E1;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
    text-align: center; }

.sundlof-logo-inverse {
  background-color: #E1E1E1; }
  .sundlof-logo-inverse .icon {
    background-color: #006679;
    color: #E1E1E1; }
  .sundlof-logo-inverse .caption {
    color: #006679; }
