@font-face {
  font-family: Sundlof;
  src: url("../fonts/sundtyp3.woff2") format("woff2"), url("../fonts/sundtype3.woff") format("woff"), url("../fonts/sundtype3.ttf") format("truetype"); }

html {
  background: #000; }

body {
  padding-bottom: 20px;
  background: #000;
  top: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.sundlof-background {
  background-color: #00687B; }

.sundlof-foreground {
  background-color: #E1E1E1; }

.sundlof-font {
  font-family: Sundlof; }

.sundlof-font-background {
  font-family: Sundlof;
  color: #00687B; }

.sundlof-font-foreground {
  font-family: Sundlof;
  color: #E1E1E1; }

.sundlof-title {
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
  text-align: center;
  color: #E1E1E1;
  margin-top: 15px; }
  .sundlof-title .primary {
    font-family: Sundlof;
    font-size: 60px;
    color: #00687B; }
  .sundlof-title .secondary {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 23px;
    letter-spacing: 12px;
    margin-top: -45px;
    opacity: 1; }

@media (max-width: 991px) and (min-width: 768px) {
  .sundlof-title {
    margin-top: 70px; }
    .sundlof-title .primary {
      font-size: 50px; }
    .sundlof-title .secondary {
      font-size: 20px;
      letter-spacing: 12px;
      margin-top: -38px; } }

@media (max-width: 767px) {
  .sundlof-title {
    margin-top: 70px; }
    .sundlof-title .primary {
      font-size: 40px; }
    .sundlof-title .secondary {
      font-size: 11px;
      letter-spacing: 4px;
      margin-top: -28px; } }

.sundlof-logo, .sundlof-logo-inverse {
  font-family: Sundlof;
  background-color: #00687B;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 180px;
  padding-top: 29px; }
  .sundlof-logo .icon, .sundlof-logo-inverse .icon {
    width: 100px;
    height: 100px;
    font-size: 52pt;
    color: #00687B;
    background-color: #E1E1E1;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
    text-align: center; }
  .sundlof-logo .caption, .sundlof-logo-inverse .caption {
    width: 100%;
    padding-top: 7px;
    font-size: 23pt;
    color: #E1E1E1;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
    text-align: center; }
    .sundlof-logo .caption a, .sundlof-logo-inverse .caption a,
    .sundlof-logo .caption a:hover, .sundlof-logo-inverse .caption a:hover {
      text-decoration: none;
      padding: 0; }

.sundlof-logo-inverse {
  background-color: #E1E1E1; }
  .sundlof-logo-inverse .icon {
    background-color: #00687B;
    color: #E1E1E1; }
  .sundlof-logo-inverse .caption {
    color: #00687B; }
