@charset "UTF-8";

@import 'sundlof';

@font-face {
    font-family: Sundlof;
    src: url('../fonts/sundtyp3.woff2') format('woff2'), url('../fonts/sundtype3.woff') format('woff'), url('../fonts/sundtype3.ttf') format('truetype');
}

html {
    background: #000;
}

body {
    padding-bottom: 20px;
    background: #000;
    top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.sundlof-background {
    background-color: $sundlof-background;
}

.sundlof-foreground {
    background-color: $sundlof-foreground;
}

.sundlof-font {
    font-family: $sundlof-font;
}

.sundlof-font-background {
    font-family: $sundlof-font;
    color: $sundlof-background;
}

.sundlof-font-foreground {
    font-family: $sundlof-font;
    color: $sundlof-foreground;
}

.sundlof-title {
    @include center-align-text;
    color: #E1E1E1;
    margin-top: 15px;
    .primary {
        font-family: $sundlof-font;
        font-size: 60px;
        color: $sundlof-background;
    }
    .secondary {
        font-family: 'Sorts Mill Goudy', serif;
        font-size: 23px;
        letter-spacing: 12px;
        margin-top: -45px;
        opacity: 1;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .sundlof-title {
        margin-top: 70px;
        .primary {
            font-size: 50px;
        }
        .secondary {
            font-size: 20px;
            letter-spacing: 12px;
            margin-top: -38px;
        }
    }
}

@media (max-width: 767px) {
    .sundlof-title {
        margin-top: 70px;
        .primary {
            font-size: 40px;
        }
        .secondary {
            font-size: 11px;
            letter-spacing: 4px;
            margin-top: -28px;
        }
    }
}

.sundlof-logo {
    font-family: $sundlof-font;
    background-color: $sundlof-background;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 180px;
    padding-top: 29px;
    .icon {
        width: 100px;
        height: 100px;
        font-size: 52pt;
        color: $sundlof-background;
        background-color: $sundlof-foreground;
        @include center-align-text;
    }
    .caption {
        width: 100%;
        padding-top: 7px;
        font-size: 23pt;
        color: $sundlof-foreground;
        @include center-align-text;
        a,
        a:hover {
            text-decoration: none;
            padding: 0;
        }
    }
}

.sundlof-logo-inverse {
    @extend .sundlof-logo;
    background-color: $sundlof-foreground;
    .icon {
        background-color: $sundlof-background;
        color: $sundlof-foreground;
    }
    .caption {
        color: $sundlof-background;
    }
}
